@import "../../../main-styles.scss";

.root {
  display: flex;
  width: 100%;
  position: relative;

  &:hover {
    .x-icon-button {
      opacity: 1;
      transform: scale(1);
    }
  }

  .x-icon-button {
    position: absolute;
    height: 34px;
    width: 34px;
    background: $dark;
    right: -17px;
    border-radius: 50%;
    top: -17px;
    transform: scale(0);
    transition: opacity 0.2 ease-out, transform 0.2 ease-out;
    opacity: 0;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.budget-item {
  display: flex;
  width: 100%;
  background: $light-grey;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;

  &:hover {
    background: darken($light-grey, 2%);
  }

  .description {
    flex-grow: 1;
    font-size: 18px;
    margin-left: 5px;
    display: flex;
    align-items: center;
  }

  .amount {
    padding: 5px;
    border-radius: 3px;
  }
}

.expense {
  p {
    color: $red;
  }

  .amount {
    background: $light-red;
  }
}

.income {
  p {
    color: $green;
  }

  .amount {
    background: $light-green;
  }
}
